## Импорт библиотек

In [10]:
import pandas as pd
import numpy as np
import os
from pathlib import Path

## Загрузка CSV файла

In [47]:
# Определить путь к файлу
csv_file = "output.csv"

# Инициализация переменной (для типизации)
df = None

# Проверить существование файла
if os.path.exists(csv_file):
    print(f"✓ Файл найден: {os.path.abspath(csv_file)}")
    
    # Загружаем с пропуском первой строки, вторая строка становится заголовками
    df = pd.read_csv(csv_file, skiprows=1, header=0)
    
    # Дополнительная проверка и очистка заголовков от "Unnamed"
    df.columns = df.columns.str.strip()  # Убираем пробелы
    
    print(f"✓ Данные загружены успешно!")
    print(f"✓ Вторая строка CSV используется как заголовки столбцов")
    print(f"\nЗаголовки столбцов:")
    print(list(df.columns))
else:
    print(f"✗ Файл не найден: {csv_file}")
    print(f"Текущая директория: {os.getcwd()}")

✓ Файл найден: c:\Users\baske\vlad_scripts\web_scraper\output.csv
✓ Данные загружены успешно!
✓ Вторая строка CSV используется как заголовки столбцов

Заголовки столбцов:
['#', 'А', 'Клуб', 'Имя', '$', 'П-ть', 'П-ть-Δ', 'КЭ', 'КЭ-Δ', 'КЭ%', 'H2h', 'H2h-Δ', 'Кап', 'Кап-Δ', 'Pts', 'G', 'Avg', 'F', 'aF', 'F_1', 'ToF', 'Последние игры']

## Информация о данных

In [48]:
print(f"Размер таблицы: {df.shape[0]} строк × {df.shape[1]} столбцов")
print(f"\nОбщая информация:")
df.info()

Размер таблицы: 100 строк × 22 столбцов

Общая информация:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 22 columns):
#                 100 non-null int64
А                 100 non-null object
Клуб              100 non-null object
Имя               100 non-null object
$                 100 non-null float64
П-ть              100 non-null float64
П-ть-Δ            81 non-null float64
КЭ                100 non-null float64
КЭ-Δ              74 non-null float64
КЭ%               44 non-null float64
H2h               100 non-null float64
H2h-Δ             90 non-null float64
Кап               100 non-null float64
Кап-Δ             25 non-null float64
Pts               100 non-null int64
G                 100 non-null int64
Avg               100 non-null float64
F                 100 non-null float64
aF                100 non-null float64
F_1               100 non-null int64
ToF               100 non-null float64
Последние игры    100 non-null object
dtypes: float64(14), int64(4), object(4)
memory usage: 17.3+ KB

## Первые строки

In [49]:
df.head(5) # type: ignore

,#,А,Клуб,Имя,$,П-ть,П-ть-Δ,КЭ,КЭ-Δ,КЭ%,...,Кап,Кап-Δ,Pts,G,Avg,F,aF,F_1,ToF,Последние игры
0,1,Пз,Манчестер Сити,Семеньо,8.0,41.7,0.6,96.2,0.3,0.3,...,5.9,-36.4,157,22,7.1,6.0,6.0,0,89.8,+4 +7 +4 +9
1,2,Нп,Манчестер Сити,Холанд,12.0,55.0,-1.6,85.7,27.6,32.2,...,24.5,-11.9,153,23,6.7,3.5,3.5,0,69.3,+4 +7 +2 +1
2,3,Пз,Арсенал,Райс,7.0,29.4,-0.4,45.1,11.3,25.1,...,1.0,0.1,144,23,6.3,6.6,6.6,5,90.0,+15 +5 +4 +4 +5
3,4,Пз,Ньюкасл,Бруно Гимараэс,6.5,17.1,-3.1,3.0,-0.4,NaN,...,0.2,NaN,140,21,6.7,8.3,5.0,0,90.0,+10 +11 +4 - -
4,5,Пз,Ноттингем Форест,Эллиот Андерсон,6.5,13.8,2.8,26.3,11.5,43.5,...,0.5,0.4,139,23,6.0,6.8,6.8,0,90.0,+5 +9 +6 +7

In [50]:
df['casual2lead_diff']  = df['КЭ'] - df['П-ть']
df.sort_values(by='casual2lead_diff', ascending=False).head(10)

,#,А,Клуб,Имя,$,П-ть,П-ть-Δ,КЭ,КЭ-Δ,КЭ%,...,Кап-Δ,Pts,G,Avg,F,aF,F_1,ToF,Последние игры,casual2lead_diff
6,7,Пз,Манчестер Юнайтед,Бруну Фернандеш,10.0,21.1,8.2,82.7,78.7,95.1,...,41.2,136,20,6.8,6.7,5.0,0,80.0,- +5 +8 +7,61.6
0,1,Пз,Манчестер Сити,Семеньо,8.0,41.7,0.6,96.2,0.3,0.3,...,-36.4,157,22,7.1,6.0,6.0,0,89.8,+4 +7 +4 +9,54.5
34,35,Зщ,Арсенал,Габриэл,6.0,22.6,1.4,71.4,18.1,25.3,...,-0.5,102,18,5.7,5.4,5.4,6,90.0,+7 +7 +6 +1 +6,48.8
62,63,Вр,Сандерленд,Руфс,4.5,24.4,0.5,62.4,7.0,11.2,...,NaN,89,23,3.9,2.0,2.0,0,90.0,+3 +2 +2 +1,38.0
1,2,Нп,Манчестер Сити,Холанд,12.0,55.0,-1.6,85.7,27.6,32.2,...,-11.9,153,23,6.7,3.5,3.5,0,69.3,+4 +7 +2 +1,30.7
9,10,Нп,Брентфорд,Игор Тиаго,6.5,28.4,-4.0,57.9,-35.4,-37.9,...,-9.6,133,23,5.8,8.3,8.3,0,87.8,+14 +11 +4 +4,29.5
30,31,Пз,Манчестер Юнайтед,Мбемо,8.5,13.3,6.0,38.4,38.4,100.0,...,7.4,103,18,5.7,7.5,3.8,0,70.0,- - +8 +7,25.1
27,28,Зщ,Челси,Чалоба,5.0,23.7,1.9,45.9,28.3,61.7,...,NaN,108,23,4.7,3.4,3.4,2,90.0,+3 +2 +7 +3 +2,22.2
67,68,Нп,Ливерпуль,Экитике,8.5,22.0,-3.0,42.9,-14.6,-25.4,...,-1.6,88,21,4.2,4.7,2.8,10,68.3,- - +3 +1 +10,20.9
39,40,Пз,Ливерпуль,Виртц,9.0,11.9,-2.5,31.6,-21.1,-40.1,...,-0.9,99,23,4.3,7.2,7.2,11,86.6,+8 +5 +8 +4 +11,19.7

In [51]:
# Получить уникальные значения из столбца A (первого столбца)
first_col_name = df.columns[1]
unique_values = df[first_col_name].unique()

print(f"Уникальные значения в столбце '{first_col_name}': {len(unique_values)}")
print(f"Значения: {unique_values}\n")

# Вывести таблицы для каждого уникального значения
for value in unique_values:
    filtered_df = df[df[first_col_name] == value].copy()
    
    # Фильтр: casual2lead_diff должен быть >= 0
    filtered_df = filtered_df[filtered_df['casual2lead_diff'] >= 0]
    
    # Пропускаем если нет подходящих строк
    if len(filtered_df) == 0:
        continue
    
    # Переместить casual2lead_diff на первое место
    cols = filtered_df.columns.tolist()
    if 'casual2lead_diff' in cols:
        cols.remove('casual2lead_diff')
        cols = ['casual2lead_diff'] + cols
        filtered_df = filtered_df[cols].head(10)
    
    # Отсортировать по casual2lead_diff по убыванию
    filtered_df = filtered_df.sort_values(by='casual2lead_diff', ascending=False)
    
    print(f"\n{'='*100}")
    print(f"Категория: {value} ({len(filtered_df)} строк с casual2lead_diff >= 0)")
    print(f"{'='*100}")
    display(filtered_df)

Уникальные значения в столбце 'А': 4
Значения: ['Пз' 'Нп' 'Зщ' 'Вр']


====================================================================================================
Категория: Пз (10 строк с casual2lead_diff >= 0)
====================================================================================================

,casual2lead_diff,#,А,Клуб,Имя,$,П-ть,П-ть-Δ,КЭ,КЭ-Δ,...,Кап,Кап-Δ,Pts,G,Avg,F,aF,F_1,ToF,Последние игры
6,61.6,7,Пз,Манчестер Юнайтед,Бруну Фернандеш,10.0,21.1,8.2,82.7,78.7,...,41.4,41.2,136,20,6.8,6.7,5.0,0,80.0,- +5 +8 +7
0,54.5,1,Пз,Манчестер Сити,Семеньо,8.0,41.7,0.6,96.2,0.3,...,5.9,-36.4,157,22,7.1,6.0,6.0,0,89.8,+4 +7 +4 +9
7,16.4,8,Пз,Челси,Энцо Фернандес,7.5,25.0,3.3,41.4,21.1,...,2.7,2.2,135,23,5.9,6.4,6.4,8,84.0,+8 +1 +7 +8 +8
5,16.1,6,Пз,Астон Вилла,Роджерс,8.0,19.2,0.9,35.3,4.9,...,0.7,0.6,138,23,6.0,6.0,6.0,0,90.0,+7 +4 +4 +9
2,15.7,3,Пз,Арсенал,Райс,7.0,29.4,-0.4,45.1,11.3,...,1.0,0.1,144,23,6.3,6.6,6.6,5,90.0,+15 +5 +4 +4 +5
4,12.5,5,Пз,Ноттингем Форест,Эллиот Андерсон,6.5,13.8,2.8,26.3,11.5,...,0.5,0.4,139,23,6.0,6.8,6.8,0,90.0,+5 +9 +6 +7
17,5.6,18,Пз,Арсенал,Сака,10.5,6.4,-2.4,12.0,-61.6,...,1.7,-0.2,114,21,5.4,3.0,2.4,0,56.0,+4 +3 +1 +4 -
16,4.0,17,Пз,Фулхэм,Харри Уилсон,6.0,4.3,-1.0,8.3,-12.0,...,0.1,NaN,115,22,5.2,6.3,6.3,0,88.0,+6 +7 +3 +9
10,2.1,11,Пз,Эвертон,Гарнер,5.5,4.7,-0.5,6.8,-8.1,...,0.1,NaN,125,24,5.2,5.4,5.4,5,90.0,+5 +6 +7 +4 +5
20,1.1,21,Пз,Брайтон,Айяри,5.5,1.2,0.6,2.3,0.9,...,0.0,NaN,112,21,5.3,8.8,7.0,8,88.3,+11 +6 - +10 +8

====================================================================================================
Категория: Нп (5 строк с casual2lead_diff >= 0)
====================================================================================================

,casual2lead_diff,#,А,Клуб,Имя,$,П-ть,П-ть-Δ,КЭ,КЭ-Δ,...,Кап,Кап-Δ,Pts,G,Avg,F,aF,F_1,ToF,Последние игры
1,30.7,2,Нп,Манчестер Сити,Холанд,12.0,55.0,-1.6,85.7,27.6,...,24.5,-11.9,153,23,6.7,3.5,3.5,0,69.3,+4 +7 +2 +1
9,29.5,10,Нп,Брентфорд,Игор Тиаго,6.5,28.4,-4.0,57.9,-35.4,...,0.6,-9.6,133,23,5.8,8.3,8.3,0,87.8,+14 +11 +4 +4
67,20.9,68,Нп,Ливерпуль,Экитике,8.5,22.0,-3.0,42.9,-14.6,...,1.2,-1.6,88,21,4.2,4.7,2.8,10,68.3,- - +3 +1 +10
72,10.5,73,Нп,Лидс,Калверт-Льюин,5.5,6.0,-1.2,16.5,-5.1,...,0.1,NaN,88,22,4.0,3.8,3.8,2,88.4,+3 +8 +3 +3 +2
78,7.9,79,Нп,Борнмут,Эванилсон,7.5,4.1,2.1,12.0,12.0,...,0.1,0.1,85,22,3.9,5.0,5.0,2,80.4,+6 +6 +4 +7 +2

====================================================================================================
Категория: Зщ (10 строк с casual2lead_diff >= 0)
====================================================================================================

,casual2lead_diff,#,А,Клуб,Имя,$,П-ть,П-ть-Δ,КЭ,КЭ-Δ,...,Кап,Кап-Δ,Pts,G,Avg,F,aF,F_1,ToF,Последние игры
34,48.8,35,Зщ,Арсенал,Габриэл,6.0,22.6,1.4,71.4,18.1,...,0.2,-0.5,102,18,5.7,5.4,5.4,6,90.0,+7 +7 +6 +1 +6
27,22.2,28,Зщ,Челси,Чалоба,5.0,23.7,1.9,45.9,28.3,...,0.0,NaN,108,23,4.7,3.4,3.4,2,90.0,+3 +2 +7 +3 +2
12,15.8,13,Зщ,Арсенал,Тимбер,6.0,30.1,0.8,45.9,4.6,...,0.1,-0.2,121,23,5.3,4.2,4.2,6,90.0,+2 +7 +5 +1 +6
43,14.1,44,Зщ,Манчестер Сити,Нико О`Райли,5.0,7.7,-1.1,21.8,-3.9,...,0.0,NaN,97,22,4.4,2.5,2.5,0,60.5,+3 +2 -1 +6
56,13.8,57,Зщ,Эвертон,О'Брайен,4.5,3.5,-0.2,17.3,-1.6,...,0.0,NaN,93,24,3.9,4.4,4.4,6,90.0,+3 +2 +7 +4 +6
41,11.7,42,Зщ,Астон Вилла,Кэш,5.0,10.1,1.8,21.8,-0.5,...,0.0,NaN,98,22,4.5,6.0,6.0,0,89.8,+6 +8 +4 +6
23,10.9,24,Зщ,Манчестер Сити,Гехи,5.0,30.5,1.9,41.4,0.1,...,0.0,NaN,110,21,5.2,5.7,4.3,0,90.0,+3 +7 - +7
54,4.4,55,Зщ,Сандерленд,Мукиеле,4.5,7.6,2.0,12.0,10.7,...,0.0,NaN,94,21,4.5,4.0,4.0,0,88.3,+3 +4 +4 +5
76,1.5,77,Зщ,Эвертон,Кин,4.5,3.0,-0.4,4.5,0.5,...,0.1,NaN,85,20,4.3,3.3,2.0,3,87.7,+1 +6 - - +3
71,0.1,72,Зщ,Ноттингем Форест,Неко Уильямс,5.5,1.4,0.4,1.5,1.5,...,0.0,NaN,88,23,3.8,5.0,5.0,0,90.0,+2 +4 +7 +7

====================================================================================================
Категория: Вр (2 строк с casual2lead_diff >= 0)
====================================================================================================

,casual2lead_diff,#,А,Клуб,Имя,$,П-ть,П-ть-Δ,КЭ,КЭ-Δ,...,Кап,Кап-Δ,Pts,G,Avg,F,aF,F_1,ToF,Последние игры
62,38.0,63,Вр,Сандерленд,Руфс,4.5,24.4,0.5,62.4,7.0,...,0.1,NaN,89,23,3.9,2.0,2.0,0,90.0,+3 +2 +2 +1
84,1.9,85,Вр,Челси,Санчес,5.5,5.6,0.4,7.5,2.8,...,0.0,NaN,84,23,3.7,3.8,3.0,2,90.0,- +2 +8 +3 +2